/*
 * Shop CSS
 * 4eyes GmbH
 */
/*





textarea#tx_x4etachoshop_pi1-bemerkungen {
        display:block;
        float:right;
        margin-right:200px;
        width:180px;
        padding:0px;
}

input#senden {
        padding-left:30px;
        margin-right:356px;
        margin-top:20px;
}

hr {
        margin-top:10px;
}

div.tx_x4etachoshop_form {
        margin-left:7px;
        margin-top:8px;
}

div.tx-x4etachoshop-pi1 label {

}

div.product-wrap {
        border-bottom:1px dotted #999999;
        margin:10px 0px 0px 6px;
        padding-bottom:10px;
}
*/